---
import msuCampus from '@/assets/msu-campus.webp';
import msuLogo from '@/assets/msu-logo.png';
import uscCampus from '@/assets/usc-campus.webp';
import uscLogo from '@/assets/usc-logo.png';
import BlurText from '@/components/BlurText';
import EducationCard from '@/components/EducationCard.astro';
import BasicLayout from '@/layouts/BasicLayout.astro';

const handleAnimationComplete = () => {
  console.log('Animation completed!');
};

const introduction =
  "Hi, I'm Shengtong Jin from China. I hold a Master's degree in Computer Science from the University of Southern California. I'm a front-end developer, and outside of work, I enjoy playing video games, watching movies, and staying updated on the latest tech trends.";
---

<BasicLayout>
  <!-- page container -->
  <div class="min-h-dvh flex flex-col items-center overflow-hidden w-full">
    <!-- about me section -->
    <div
      class="w-full h-dvh flex flex-col items-center align-middle justify-center text-lg text-center px-4 bg-content-background-2"
    >
      <h2
        class="font-train-one text-5xl md:text-6xl lg:text-8xl font-extrabold text-center mb-20"
        data-slot="education-title"
      >
        ABOUT ME
      </h2>
      <BlurText
        text={introduction}
        delay={75}
        animateBy="words"
        direction="top"
        onAnimationComplete={handleAnimationComplete}
        className="text-base md:text-lg lg:text-xl max-w-3xl mx-auto text-left"
        client:load
      />
    </div>
    <!-- education section -->
    <div class="w-full text-lg bg-content-background text-center px-4 pt-20">
      <div class="flex flex-col max-w-sm lg:max-w-3xl mx-auto" data-slot="education-section">
        <h2
          class="font-title text-2xl text-left mb-8 underline decoration-double decoration-primary"
          data-slot="education-title"
        >
          EDUCATION
        </h2>
        <div class="flex flex-row flex-wrap justify-between w-full bg-content-background-2" data-slot="education-cards">
          <!-- USC Master Education Card -->
          <EducationCard
            img={uscCampus}
            alt="University Logo"
            degree="Master"
            school="University of Southern California"
            duration="Oct 2021 - May 2023"
            logo={uscLogo}
          />
          <!-- MSU Bachelor Education Card -->
          <EducationCard
            img={msuCampus}
            alt="University Logo"
            degree="Bachelor"
            school="Michigan State University"
            duration="Sep 2018 - May 2022"
            logo={msuLogo}
          />
        </div>
      </div>
    </div>
  </div>
</BasicLayout>
